body {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #25c9d0;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    font-size: 200%;
    transform: translate(-50%, -50%);
}

a {
    color: #fff;
}
